<div class="initial-page container-fluid">
  <div class="row">
    <div class="col-12 p-3">
      <div class="logo d-flex justify-content-center">
        <img class="logo-sz img-fluid" src="../../../assets/logo/rajarani.png" alt="log">
      </div>
      <div class="title">
        <h1 class="game-title">
          Raja Rani Police Thief
        </h1>
        <p class="game-slogan text-center">
          A Classic Guessing Game
        </p>
      </div>
      <div class="description">
        <div class="text-center d-flex justify-content-center align-content-center">
          <p class="w-75">
            Raja Rani Police Thief is a classic game that has been enjoyed by generations of players. This game is a
            strategic and engaging experience that combines elements of chase and evasion, as players take on the roles
            of
            the cunning thief and the determined police force. The objective of the game is to successfully navigate the
            board and outsmart your opponents, whether you're playing as the thief, trying to make off with the loot, or
            as a member of the police force, determined to catch the thief and bring them to justice. With its simple
            yet
            engaging gameplay, Raja Rani Police Thief is a timeless game that is sure to provide hours of fun and
            excitement for players of all ages.
          </p>
        </div>

      </div>
      <div class="action-btns">
        <div class="bg-rajarani">
          <div class="action-button d-flex justify-content-center align-items-center p-5">
            <button class="custom-btn" role="button" [routerLink]="'/lobby'">Are you Ready?</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
