<div class="lobby-area">
  <div class="container mt-1">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="card m-2">
          <div class="card-header">
            <div class="title text-center">
              <h3>Create Room</h3>
              <p>Are you want play with friends?. Then create New Room and invite your friend to join.</p>
            </div>
          </div>
          <div class="card-body">
            <div class="create-room mb-2">
              <div class="form-action">
                <div class="w-100">
                  <form [formGroup]="createRoomForm" #createForm>
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <label>Choose Your Avatar</label>
                        <div class="row mt-1">
                          <div class="col-lg-3 col-md-2 col-sm-3 col-3" *ngFor="let avatar of avatars">
                            <label (click)="storeAvatar(avatar,'create')" [for]="'id_'+avatar.id" class="avatar-label">
                              <input type="radio" [id]="'id_'+avatar.id" formControlName="createAvatar" [value]="avatar"
                                class="avatar-radio">
                              <img [id]="'id_'+avatar.id" [src]="avatar.image" [alt]="avatar.id" class="avatar-image">
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="form-group">
                          <label for="nickname">Name</label>
                          <input type="text" class="form-control" placeholder="Nickname" formControlName="playerName">
                        </div>
                      </div>
                    </div>
                    <div class="btn-action mt-3 d-flex justify-content-center">
                      <button type="button" name="" id="" class="btn btn-primary" (click)="createRoom('create')">Create
                        Room</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="join-room">
          <div class="card m-2">
            <div class="card-header">
              <div class="title text-center">
                <h3>Join Room</h3>
                <p>Do you have Invite Code. Then, Join and play with your friends.</p>
              </div>
            </div>
            <div class="card-body">
              <div class="form-action">
                <div class="w-100">
                  <form [formGroup]="joinRoomForm">
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <label>Choose Your Avatar</label>
                        <div class="row mt-1">
                          <div class="col-lg-3 col-md-2 col-sm-3 col-3" *ngFor="let avatar of avatars">
                            <label (click)="storeAvatar(avatar,'join')" [for]="avatar.id" class="avatar-label">
                              <input type="radio" [value]="avatar" formControlName="joinAvatar" [id]="avatar.id"
                                class="avatar-radio">
                              <img [id]="avatar.id" [src]="avatar.image" [alt]="avatar.id" class="avatar-image">
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="form-group">
                          <label for="nickname">Name</label>
                          <input id="nickname" type="text" class="form-control" placeholder="Nickname"
                            formControlName="playerName">
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="form-group">
                          <label for="code">Invite Code</label>
                          <input id="code" type="text" class="form-control" placeholder="Code" formControlName="roomId">
                        </div>
                      </div>
                    </div>
                    <div class="btn-action mt-3 d-flex justify-content-center">
                      <button type="button" name="" id="" class="btn btn-primary" (click)="createRoom('join')">Join
                        Room</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="room-details mt-3">
          <div class="room-code text-center">
            <h2>Share this room code with friends andask them to join.</h2>
            <p class="p-2">Room Code : {{roomCode ? roomCode : 'Not Availabe. Create room and get code here.'}}
              <span style="cursor: pointer;" *ngIf="roomCode" (click)="copyCode(roomCode)">
                <i class="fa fa-copy"></i>
              </span>
              <!-- <span style="cursor: pointer;" *ngIf="roomCode" (click)="share(roomCode)"> <i
                  class="fa fa-whatsapp" aria-hidden="true"></i>
              </span> -->
            </p>
            <share-buttons *ngIf="roomCode" theme="circles-dark"
              [include]="['facebook',  'sms', 'telegram', 'whatsapp']" [showIcon]="true" [showText]="false"
              [url]="'http://localhost:4200/'+roomCode" description="Room code URL: ">
            </share-buttons>
          </div>

          <div *ngIf="connectedPlayers.length > 0" class="joined-players">
            <h5 class="p-2">Room Joined Friends....</h5>
            <!-- <div class="row">
              <div class="player-grid">
                <div class="user-card" *ngFor="let player of connectedPlayers">
                  <div class="mt-1">
                    <img class="avatar-image"
                    [src]="player?.avatar" alt="avatar">
                  <p class="text-capitalize"> {{player?.name}} </p>
                  </div>

                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-3 col-12" *ngFor="let player of connectedPlayers">
                <div class="card-container">
                  <div class="card card-section">
                    <div class="card-body section-body text-center">
                      <a href="#" class="d-inline-block mb-2">
                        <img [src]="player?.avatar" alt="avatar" class="rounded-pill" width="50px" height="50px">
                      </a>
                      <div>
                        <h6 class="mb-0 mt-1 text-capitalize">{{player?.name}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <button *ngIf="this.connectedPlayers.length == 4" class="btn btn-primary mt-2 d-flex justify-content-center align-items-center" (click)="playClick()"
          [routerLink]="['/game/start', roomCode]">Play</button>
      </div>
    </div>
  </div>
</div>
